user  root;
worker_processes  1;

load_module /usr/lib/nginx/modules/ngx_stream_module.so;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}

stream {

    upstream api_server {
    %{ for addr in ip_addrs ~}
    server ${addr}:${port};
    %{ endfor ~}
    }

    server {
        listen 6443;
        proxy_pass api_server;
    }

    server {
        listen [::]:6443;
        proxy_pass api_server;
    }
}